{% extends 'base.html' %}
{% block content %}
<h4><a href="/home" class="btn btn-info btn-sm">Home</a>
<a href="/create/post/" class="btn btn-info btn-sm" data-toggle="modal" data-target="#postmodel">NewPost</a></h4>
  <div class="container">
    <div class="panel-heading">
      <h3 class="panel-title">View Post</h3>
    </div>
    <form>
     {% if post_list %}
        <table id="table_id" class="table table-compact table-bordered">
          <thead>
            <tr>
              <!-- <th>Comment On Post</th> -->
              <!-- <th>Like On Post</th> -->
              <!-- <th>Title</th> -->
              <th>Post</th>
              <th>Created_Date</th>
              <th>UserName</th>
              <!-- <th>Show Comments On Post</th> -->
              <th>Edit/Delete Post</th> 
            </tr>
          </thead>
          {% for post in post_list %}
            <tbody>
              <tr>
                <!-- <th><a href="/comment/{{ post.id }}">Comment</a></th> -->
                <!-- <th><a href="/comment/{{ post.id }}">Like</a></th> -->
                <!-- <th>{{ post.title }}</th> -->
                <th id="title_id">{{ post.text }}
                <br>
                <!-- <a href="/create/comment/{{ post.id }}">Comment</a> -->
                </th>
                <th id="created_id">{{ post.created_on }}</th>
                <th id="name_id">{{ post.name }}</th>
                <!-- <th><a href="/comment/detail/{{ post.id }}">Show</a></th> -->
                <th>
                  {% if user.id == post.user_id %}
                    <a href="/edit/post/{{ post.slug }}" class="btn btn-info btn-sm" class="top-menu"><span class="glyphicon glyphicon-open">Show</span></a>
                  {% else %}
                    <p>No post is edit.</p>
                  {% endif %} 
              </tr>
            </tbody>
          {% endfor %}
        </table>
      {% else %}
        <p>No post is available.</p>
      {% endif %}
    </form>
    <div class="modal fade" id="postmodel" role="dialog">
      <div class="modal-dialog">
         Modal content
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function(){
      $('#table_id').DataTable();
    });
  </script>
{% endblock %}