{% extends "base.html" %}
{% block content %}
  <div class="container" align="center">
    <p><img src="/{{ p.pic.url }}"  height="300" width="400"></p>
    <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
      {{ edit_post.as_p}}
      <input type="submit" name="update" value="Update" />
    </form>
  </div>
{% endblock %}
{% block javascript %}
  <!-- <script type="text/javascript">
    // $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function(){
      // $('#table_id').DataTable();
      // $('#edit_form').editable();
    });
  </script> -->
  <!-- <script>
    alert('{{ message }}');
  </script> -->
{% endblock %}