/*Add My CSS*/
/*.cover_image{ position: relative; top: 0; left: 0; } 
.profile_image{ position: absolute; top: 60px; left: 80px; }*/
.cover_image { position:absolute; top: 51px; left: 100px; z-index: 1; } 
.profile_image { position:absolute; top: 240px; left: 125px; z-index: 2; } 
.edit_link { position:absolute; top: 330px; right: 500px; z-index: 3; }
.demo_link { position:absolute; top: 330px; right: 600px; z-index: 4; }
.edit_div { position:absolute; top: 500px; left: 100px; }
.create_div { position:relative; left: 300px; width: 400px;  border: 2px solid #a1a1a1;
    padding: 10px 40px; border-radius: 5px;}
.show_div { position:relative; left: 300px; width: 400px;}
.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
    width: auto !important;
}
