{% extends 'base.html' %}
{% block content %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand text-muted"> Welcome {{ user.username }}</a>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/show/profile/">{{user.username}}</a></li>
    <li class="active"><a href="/home/">Home</a></li>
    <li><a href="/logout/">Log Out</a></li>
    </ul>
  </nav>
  <div>-<p>-</p></div>
  <div class="container">
    <div class="create_div">
      <a href="/create/post/"  data-toggle="modal" data-target="#postmodel"><textarea type="text" id="text" style="width: 350px; height: 81px;" placeholder='What`s on your mind...'></textarea></a><br>
      <a href="/create/post/" data-toggle="modal" data-target="#postmodel">Photo</a>
      <a href="/create/post/" style="padding:0px 0px 0px 320px;"  data-toggle="modal" data-target="#postmodel">Post</a>
      <div class="modal fade" id="postmodel" role="dialog">
        <div class="modal-dialog">
           <!-- Modal content -->
          <div class="modal-content">
          </div>
        </div>
      </div>
    </div>
    <div class="show_div"> 
      {% if post_list  %}
        {% for post in post_list %}
          <p>Post by {{ post.name }}</p>
          <p> {{ post.write_post }}</p>
          <img id="images" src="/{{ post.pic }}"  height="200" width="370">
          <p>{{ post.upload_date }}</p> 
          <p>
            {% if user.id == post.user_id %}
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="/edit/post/{{ post.slug }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit">Edit</span></a></li>
                  <li><a href="/delete/post/{{ post.id }}" class="btn btn-info btn-sm" class="top-menu"><span class="glyphicon glyphicon-trash">Delete</span></a></li>
                </ul>
              </div>  
            {% else %}
              <p></p>
            {% endif %} 
          </p>
          <a style="padding:5px 10px 3px 5px;" onclick="alert('Hello world!')" class="glyphicon glyphicon-thumbs-up">Like</a>
          <button class="btn btn-default likes-button" type="button" data-postid="{{ post.id }}">
            like | <strong id="like_count">{{ like.likes }}</strong>
          </button>
          <a class="comment_button" id="{{post.id}}">Comment</a>
          {% for comment in comment_list %}
            {% if comment.post_id == post.id %}
              <p> Comment by {{ comment.author }} {{ comment.text }} </p>
            {% endif %}
          {% endfor %}
          <div class='panel_post' id="slidepanel{{post.id}}">       
            <form class="comment_form_id" action="" id="{{post.id}}" method="post">
              {% csrf_token %}
              <input type="text" id="text_id" placeholder='Write comment...' style="width:370px;">
              <input type="hidden"  id="">
              <input type="submit" value="Comment" />
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p>No post is available.</p>
      {% endif %}
    </div>
  </div>
  <!-- <nav class="navbar navbar-inverse navbar-fixed-bottom"> <font color="gray">Panel Footer</font> </nav> -->
{% endblock %}

{% block javascript %}
      <script type="text/javascript" >
        $(document).ready(function(){

        });
      $('.likes-button').click(function(){
        var postid;
        postid = $(this).attr("data-postid");
                $.post('/like/', {'post_id': $(this).attr("data-postid"), 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data){
            $('#like_count').html(data);
        $('#likes').hide();
    });
    });
    // $('.likes-button').click(function(){
      //   $.ajax({
      //            type: "POST",
      //            url: "/like/",
      //            data: {'post_id': $(this).attr('"data-postid"'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      //            dataType: "json",
      //            success: function(response) {
      //                   alert(response.message);
      //                   alert('Company likes count is now ' + response.likes_count);
      //             },
      //             error: function(rs, e) {
      //                    alert(rs.responseText);
      //             }
      //       }); 
      // })
  </script>
{% endblock %}