{% extends 'base.html' %}
{% block content %}
    {% for p in pro %}
      {% if user.email == p.email or user.id == p.id or user.username == p.username %}
        <form action="/cover/profile/{{p.id}}/" method="POST" enctype="multipart/form-data">
      {% endif %}
    {% endfor %}
    {% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Update Cover Profile</h4>
    </div>
    <div class="modal-body" align="center">
      <table>
        {{ cover_profile.as_p }}
      </table>  
  
    </div>
    <input type="submit" name="add" value="Update" />
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </form>

{% endblock %}