{% extends 'base.html' %}
{% block content %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand text-muted"> Welcome {{ user.username }}</a>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/show/profile/">{{user.username}}</a></li>
    <li class="active"><a href="/home/">Home</a></li>
    <li><a href="/logout/">Log Out</a></li>
    </ul>
  </nav>
    <div>-<p>-</p></div>
    <div class="container">
      {% for p in pro %}
        {% if user.email == p.email or user.id == p.id or user.username == p.username %}
          <img class="cover_image" src="/{{ p.background_image }}" height="330" width="850">
          <a class="cover_image btn btn-sm" href="/cover/profile/{{p.id}}/"  data-toggle="modal" data-target="#profilemodel">Update Cover Profile</a>
          <br>
          <img class="profile_image" src="/{{ p.profile_picture }}"  height="170" width="170">
          <a class="profile_image btn btn-sm" href="/profile/picture/{{p.id}}/"  data-toggle="modal" data-target="#profilemodel">Update Profile Photo</a>
          <a class="edit_link btn btn-info btn-sm" id="showdiv" href="">UpdateProfile</a>
          <!-- <a class="demo_link btn btn-info btn-sm" href="javascript: void(0)" id="showdiv">Show the Div</a> -->
          <div class="edit_div" id="hiddendiv"  style="display:block;">

            <table id="profile_table" class="table table-compact fixed-table-container table-responsive ">   
              <tr><th>Email</th><td>{{p.email}}</td></tr>
              <tr><th>Date Of Birth</th><td>{{p.date_of_birth}}</td></tr>
              <tr><th>Contact Number</th><td>{{p.mobile_number}}</td></tr>
              <tr><th>Your Occupation</th><td>{{p.work}}</td></tr>
              <tr><th>Education</th><td>{{p.education}}</td></tr>
              <tr><th>Languages</th><td>{{p.language}}</td></tr>
              <tr><th>Religion</th><td>{{p.religion}}</td></tr>
              <tr><th>Gender</th><td>{{p.gender}}</td></tr>
              <tr><th>City</th><td>{{p.city}}</td></tr>
              <tr><th>State</th><td>{{p.state}}</td></tr>
              <tr><th>Country</th><td>{{p.country}}</td></tr>
              <tr><th></th><td><a href="/edit/profile/{{p.id}}/"  data-toggle="modal" data-target="#profilemodel">EditProfile</a></td></tr>
            </table>
          </div>
        {% endif %}
      {% endfor %}
      
      <div class="modal fade" id="profilemodel" role="dialog">
        <div class="modal-dialog">
           <!-- Modal content -->
          <div class="modal-content">
          </div>
        </div>
      </div>
    </div>
    <!-- <nav class="navbar navbar-inverse navbar-fixed-bottom"></nav> -->
{% endblock %}

{% block javascript %}
  <script type="text/javascript" >
    $(document).ready(function () {
      $("#showdiv").click(function () {
        $("#hiddendiv").show();             
      });
      // $("#profile_table").editable();
    });
  </script>
{% endblock %}
